<div>
	<h2 ng-show="game.ended">Parabéns voce descobriu o nome de todos os Thoughtworkers =)</h2>

	<div ng-hide="failure || game.ended || loading">

		<div class="tw_info">
			<h2 class="tw_who">Who is <span class="tw_name" ng-bind="game.challengePerson.name"></span> ?</h2>

			<h2 class="tw_stats">
				Points
				<span class="tw_points" ng-bind="game.statistics.score"></span>
				<span class="tw_slash">/</span>
				<span class="tw_mistakes" ng-bind="game.statistics.mistakes"></span>
			</h2>
		</div>

		<div class="tw_faces">

			<div class="tw_face"
					 ng-click="guess(person)"
					 ng-class="getMissAnimation(person)"
					 ng-repeat="person in game.challengeGroup.items"
					 style="background-image: url(pics/{{person.picture}})">
			</div>
		</div>
	</div>

	<div ng-hide="loading">
		<a class="tw_reset" ng-href="#" ng-click="game.reset()">Reset Game</a>
	</div>

	<h2 ng-show="loading">Loading</h2>
	<h2 ng-show="failure">Something went wrong when loading players</h2>

</div>

