@font-face {FFEF
  font-family: marydale;
  src: url('/fonts/Marydale.ttf');
}

html {
  font-family: marydale;
}

.tw_face {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 20px;
  border: #FEEECD solid 10px; 
}

.tw_face:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
