@font-face {
  font-family: 'marydale';
  src: url('/fonts/Marydale.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'marydale';
  background-color: #DDEEDD
}

body {
  text-align: center
}

#wrapper {
  text-align: center;
  background-color: #EEFFEE
}

.tw_face {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 20px;
  border: #FEFF87 solid 10px;
}

.tw_face:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border: #FEFF30 solid 12px;
}

#restart {
  font-size: 30px;
  padding: 5px;
  display: inline-block;
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
  border: green solid 1px;
  background: green;
  text-decoration: none;
  color: black;
}

@keyframes blink {
  0% { left: 0; }
  25% { left: -25px; }
  50% { left: -50px; }
  75% { left: -25px; }
  100% { left: 0; }
}

@-moz-keyframes blink {
  0% { left: 0; }
  25% { left: -25px; }
  50% { left: -50px; }
  75% { left: -25px; }
  100% { left: 0; }
}

@-webkit-keyframes blink {
  0% { left: 0; }
  25% { left: -25px; }
  50% { left: -50px; }
  75% { left: -25px; }
  100% { left: 0; }
}

.error-animation {
  position: relative;
  animation: blink 200ms;
  animation-iteration-count: 3;
  -moz-animation: blink 200ms;
  -moz-animation-iteration-count: 3;
  -webkit-animation: blink 200ms;
  -webkit-animation-iteration-count: 3;
  -o-animation: blink 200ms;
}

