@font-face {
  font-family: 'marydale';
  src: url('/fonts/Marydale.ttf');
}

* { 
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'marydale';
  background-color: #DDEEDD
}

body {
  text-align: center
}

#wrapper {
  width: 960px;
  text-align: center;
  background-color: #EEFFEE
}

.tw_face {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 20px;
  border: #FEFF87 solid 10px; 
}

.tw_face:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border: #FEFF30 solid 12px;
}
