<h1>Congrats! Game Over!</h1>
<h2>Now and BACK TO WORK!</h2>

<a href="/?restart=now" id="restart" ><span>PLAY AGAIN</span></a>
<!--
<form action="/scoreboard" id="scoreboard_form" method="post" >
  <input name="username" placeholder="Your name here!" />
  <a href="#" id="submit_button"><span>GO!</span></a>
</form> 
-->
