<!DOCTYPE html>
<html>
  <head>
    <title>Who's the face of TWBR?"</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div id="wrapper" >
      <div id="header" >
        <img src="/background.png" />
      </div>
      <div id="content" >
      </div>
    </div>

  </body>
</html>

