<h2>Who is <%= @to_guess.name %>?</h2>

<form action="/guess" >
  <% @pics.each do |pic| %> 
    <span>
      <input type="radio" name="guess" value="<%= pic.link %>" >
        <img src="/<%= pic.link %>" width="220" height="250" />
      </input>
    </span>
  <% end %>
  <br />
  <input type="submit" value="This is the one!" />
</form>
